.contact-second-headline{
    margin-top: 40px;
    margin-bottom: 40px;
}
.view-additional-offices{
    background-color: $blue_light_1;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    color: $white;
}
.view-text{
    padding-left: 20px;
}
.view-img{
    padding-right: 20px;
}
.offices-data{
    border: 1px $gray_border solid;
    width: 50%;
}
.additional-view-first-box{
    border: 1px $gray_border solid;
    width: 45%;
    margin: 25px;
    padding: 20px;
}
.data-type{
    display: flex;
    padding-bottom: 15px;
}
.data{
    color: $red_1;
    text-align: right;
    padding-right: 10px;
}
.data-width{
    width: 40%;
}
.inner-data-width{
    width: 60%;
}
.data-pharagraph{
    word-break: break-all;
}
.data-container{
    margin-top: 30px;
    display: flex;
}
.data-direction{
    display: flex;
}
.office-hours{
    width: 50%;
    padding-left: 20px;
}
.sales{
    margin-top: 30px;
    color: $gray;
}
.sales-color{
    color: $red_1;
}
.chat-button{
    text-transform: uppercase;
    color: $white;
    background-color: $red_2;
    width: 50%;
    height: 50px;
    margin-top: 30px;
    font-weight: bold;
}