.faq-second-section{
    margin-top: 60px;
}
.accordion-div{
    background-color: $gray_background;
    width: 550px;
    border: 1px $gray_border solid;
}
.faq-img-and-text{
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
}
.jobs-headline{
    font-size: 20px;
}
.accordion .contentBox{
    position: relative;
    margin: 10px 20px;
}
.accordion .contentBox .faq-label{
    position: relative;
    padding: 10px;
}
.cursor-pointer{
    cursor: pointer;
}
.accordion .contentBox .faq-content{
    position: relative;
    background-color: $white;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}
.accordion .contentBox.active .faq-content{
    height: 150px;
    padding: 10px;
}
.contentBox{
    border: 1px $gray_border solid;
}
.white-back{
    background-color: $white;
    display: flex;
    flex-direction: column;
}
.faq-label{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq-second-section-div{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.top-margin{
    margin-top: 133px;
}