.header-icon{
    background-color: $red_2;
    height: 41px;
    width: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-header{
    display: flex;
    justify-content: space-between;
    background-color: $red_1;
    height: $header_hight;
}
.header-icon-wrapper{
    display: flex;
    gap: 1px;
}
.first-header-link{
    text-decoration: none;
    color: $white;
}
.first-header-list-item{
    list-style-type:none;
    height: 41px;
    &:hover{
        background-color: $red_2;
        font-weight: bold;
    }
    display: flex;
    align-items: center;
    padding-inline: 10px;
}
.first-header-list{
    display: flex;
    align-items: center;
    gap: 20px;
}

.second-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.second-header-list{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.second-header-link{
    text-decoration: none;
    color: $black;
    &:hover{
        color: $red_1;
    }
}
.call-us{
    display: flex;
    border: $gray_font 1px solid;
    gap: 10px;
    padding-inline: 10px;
    padding-block: 5px;
}
.call-us-text{
    color: $red_1;
}
.call-us-number{
    font-weight: bold;
}
