.second-section-offers{
    background-color: $gray_background;
}
.second-section-offers-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px;
}
.coupon-div{
    background-color: $white;
    width: 350px;
    height: 400px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.subscribers{
    color: $red_1;
    font-weight: bold;
    padding-bottom: 30px;
}
.coupon-pharagraph{
    color: $gray;
    padding-bottom: 15px;
    &::after{
        display: block;
        content: '';
        width: 300px;
        height: 1px;
        background-color: $gray;
        margin-top: 20px;
    }
}
.expires{
    color: $gray;
}
.expires-date{
    font-weight: bold;
}