.specialty-type{
    width: 400px;
    height: 50px;
    border: 1px $gray_border solid;
    background-color: $white;
    padding-left: 20px;
}
.specialties-second-section-div{
    margin-top: 60px;
    margin-bottom: 70px;
}
.specialties-button{
    height: 50px;
    width: 70px;
    background-color: $red_1;
    color: $white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 20px;
}
.specialties-images{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 20px;
}
.speciality-type-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.specialty-title{
    margin-top: 10px;
    font-weight: 500;
}
.modal-wrapper{
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.modal-content{
    width: 500px;
    height: 500px;
    background-color: $white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.x-icon{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
}
.show-modal{
    display: flex;
}
.modal-img{
    width: 300px;
    height: 300px;
}