$wrapper_max_width: 1202px;
$red_1: rgba(218, 50, 71, 1);
$red_2: rgba(201, 38, 58, 1);
$gray:  #747474;
$black: #000000;
$white: #ffffff;
$blue_light_1: rgba(13, 131, 213, 1);
$blue_light_2: rgba(15, 117, 188, 1);
$blue_light_3: rgba(7, 107, 176, 1);
$blue_light_4: rgba(14, 118, 188, 1);
$gray_font: #C6E8FF;
$header_hight: 41px;
$gray_background: rgb(241, 241, 241);
$gray_border: rgb(196, 192, 192);
$green_star: rgb(13, 116, 13);
$gold: rgb(212, 162, 24);
$breakpoint_xs: 0;
$breakpoint_sm: 576px;
$breakpoint_md: 768px;
$breakpoint_lg: 992px;
$breakpoint_xl: 1200px;
$breakpoint_xxl: 1400px;




